<head>
    <title> <%= title %> </title>
    <link rel="icon" href="/B.png" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The absolute best blogging site created by Ryan and David">
    <link rel="stylesheet" href="/css/style.css">
    <% // Use typeof instead of hasOwnProperty %>
    <% if(typeof stylesheets !== "undefined" && stylesheets) {
        for (let sheet of stylesheets) { %>
            <link rel="stylesheet" href="<%= sheet %>"> 
    <%  } 
    } %>
</head>

<header class="header">
    <div class="title">
        <a href="/"><h1>Home </h1></a>
        ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ 
        <a href="/blog"><h1> Blogs</h1></a>
    </div>
    <form class="search_blog" action="/search" method="get">
        <input type="search" id="search_query" name="search_query" required="true">

        Filter by:
        <input type="radio" id="user" name="filter_by" value='user' checked>
        <label for="user">User</label>

        <input type="radio" id="title" name="filter_by" value="title">
        <label for="title">Blog</label>

        <input type="submit" value="Search">
    </form>
</header>