<head>
    <title> <%= title %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The absolute best blogging site created by Ryan and David">
    <link rel="stylesheet" href="/style.css">
</head>
<header class="header">
    <a class="title" href="/"><h1>Bloggy</h1></a>
    <form class="search_blog" action="/blog/search" method="get">
        <input type="search" id="search_query" name="search_query" required="true">
        <input type="submit" value="Search">
    </form>
</header>
    
