<head>
    <title> <%= title %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The absolute best blogging site created by Ryan and David">
    <link rel="stylesheet" href="/style.css">
    <% if(stylesheets) {
        for (let sheet of stylesheets) { %>
            <link rel="stylesheet" href="<%= sheet %>"> 
    <%  } 
    } %>

</head>
<header>
    <div class="header">
        <h1>Bloggy</h1>
    </div>
</header>
    
