<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs', {title: "Bloggy: Search"}); %>
  <body>
    <div class="search">
      <form action="/blog/search" method="post">
        <input type="search" id="search" name="search" required="true">
        <input type="submit" value="Search">
      </form>
    </div>
  </body>
</html>
