<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs', {title: "Bloggy: Blogs"}); %>
  <body>
    <div class="blogView">
        <% for(var row of BlogData) { %>
            <div class="blogRow">
                <h2><%= row.title %></h2> <%= row.date_utc %>
                <br>
                <%= row.body %>
            </div>
        <% } %>
    </div>
  </body>
</html>
