<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs', {title: "Bloggy: " + blog.title }); %>
  <body>
    <div class="blogView"><div class="individual">
        <h2><%= blog.title %></h2>
        <i><%= blog.date_utc %></i>
        <br>
        <p><%= blog.body %></p>
    </div></div>
  </body>
</html>