<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs', {title: "Bloggy"}); %>
  <body>
    <div class="blogView"><div class="individual">
        <h2><%= blog.title %></h2>
        <%= blog.date_utc %>
        <br>
        <p><%= blog.body %></p>
    </div></div>
  </body>
</html>
