<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs', {title: "Bloggy: " + blog.title }); %>
  <body>
    <div class="blogView"><div class="individual">
      <div class="titleLine">
        <h2><%= blog.title %></h2>
          <% if(hasOwnProperty("User") && User == blog.user) { %> 
            <div class="smallButtons">
              <a>
                <button>Edit</button>
              </a>
              <a>
                <button>Delete</button>
              </a>
            </div>
          <% } %> 
      </div>
      <i><%= blog.date_utc %></i>
      <br>
      <p><%= blog.body %></p>
    </div></div>
  </body>
</html>