<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs', {title: "Bloggy"}); %>
  <body>
    <div class="name">
      <br>
      <h1>Bloggy: the new way to blog</h1>
      <br>
    </div>

    <div class="buttons">
      <a href="/user/create">
        <button>Create Account</button>
      </a>
      <a href="/user/login">
        <button>Login</button>
      </a>
      <a href="/blog/search">
        <button>Search for a Blog!</button>
      </a>
    </div>
  </body>
</html>
