<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs', {title: "Bloggy"}); %>
  <body>
    <div class="name">
      <br>
      <h1>Bloggy: the new way to blog</h1>
      <br>
    </div>

    <% // if the username parameter was passed into EJS and is not null %>
    <% if(hasOwnProperty("username") && username) { %> 
       <h1 style="text-align: center; margin: 10px auto;">Logged In As: <%= username %></h1>
    <% } %>

    <div class="buttons">
      <a href="/user/create">
        <button>Create Account</button>
      </a>
      <a href="/user/login">
        <button>Login</button>
      </a>
    </div>
  </body>
</html>
