<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs', {title: "Blogy"}); %>
  <body>
    <h1>Blogy: the new way to blog</h1>

    <div class="buttons">
      <a href="/user/create">
        <button>Create Account</button>
      </a>
      <a href="/user/login">
        <button>Login</button>
      </a>
      <a href="/blog">
        <button>Search for a Blog!</button>
      </a>
    </div>
  </body>
</html>
