* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

.header {
    width: 100%;
    height: 45px;
    padding: 0 10px;
    background-color: rgb(184, 184, 224);
    vertical-align: middle;
}

.name {
    text-align: center;
    font-family: cursive;
}

.buttons {
    display: block;
    width: 200px;
    margin: auto;
}
.buttons * {
    display: block;
    width: 100%;
    padding: 1em;
    border-radius: 10px;
}

.formItems {
    display: block;
    width: 250px;
    margin: auto;
}
.formItems * {
    margin: 10px auto; /* top and bottom have margin of 10, button is automaically centered */
}

input {
    border: 1px solid black;
    padding: 4px;
}

.search {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 80px;
}