* {
    box-sizing: border-box;
}

.buttons {
    display: block;
    width: 200px;
    margin: auto;
}
.buttons * {
    display: block;
    width: 100%;
<<<<<<< HEAD
    margin: 10px;
}

.formItems {
    display: block;
    width: 400px;
    margin: auto;
}
.formItems * {
    margin: 10px;
=======
    margin: 10px auto; /* top and bottom have margin of 10, button is automaically centered */
>>>>>>> 22be5acff0929c42be02617fb60c31358d149712
}