* {
    box-sizing: border-box;
}

.buttons {
    display: block;
    width: 200px;
    margin: auto;
}
.buttons * {
    width: 100%;
    margin: 10px;
}

.formItems {
    display: block;
    width: 400px;
    margin: auto;
}
.formItems * {
    margin: 10px;
}