<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs', {title: "Bloggy: Create Account"}); %>
  <body>
    <div class="formItems">
        <h1>Create Account</h1>
        <form action="/user/create" method="post">
            <label for="username">Username:</label>
            <br>
            <input type="text" id="username" name="username" required="true" maxlength="10">
            <br><br>
            <label for="password1">Password:</label>
            <br>
            <input type="password" id="password1" name="password1" required="true" maxlength="20">
            <br><br>
            <label for="password2">Confirm Password:</label>
            <br>
            <input type="password" id="password2" name="password2" required="true" maxlength="20">
            <br><br>
            <input type="submit" value="Create Account">
        </form>
    </div>
  </body>
</html>