<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs', {title: "Bloggy: Login"}); %>
  <body>
    <div class="formItems">
        <h1>Login</h1>
        <form action="/user/login" method="post">
            <label for="username">Username:</label>
            <br>
            <input type="text" id="username" name="username" required="true">
            <br><br>
            <label for="password">Password:</label>
            <br>
            <input type="password" id="password" name="password" required="true">
            <br><br>
            <input type="submit" value="Login">
        </form>
    </div>
  </body>
</html>